.h1{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: sans-serif;
    /* margin: 20px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
}

.profile {
    width: 230px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.profile p{
    font-size: 20px;
}
.profile button{
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    width:  100%;
    margin-bottom: 10px;
    text-transform: uppercase;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
}
.profile button:hover{
    background-color: white;
    color: black;
    transform: translateY(-10px);
}

.profile .cont{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.651);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    opacity: 0;
    transition: 0.6s ease;
    gap: 20px;
}
.cont:hover{
    opacity: 1;
}
.cont a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}





@media (max-width: 768px) {

    /* On small screens, we are less concerned about horizontal space */
    .container {
        grid-template-columns: 1fr;
    }

    .profile {
        /* Make the profile card take up the full width of the page on small screens */
        grid-column: 1 / -1;
    }
}