.container{
    margin: 10px;
}
.wrapper{
    display: flex;
    gap: 5px;
}
    
.mimg img{
    width: 400px;
}

.sideimg{
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.details{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 13rem;
    font-size: 20rem;
}
.details h3{
    font-size: 4rem;
}
.details p{
    line-height: 5rem;
    font-size: 1.2rem;
}
.details2{
    display: none;
}
@media (max-width: 768px) {
    .details{
        display: none;
    }
    .details2{
        display: block;
        width: 90%;
        padding-bottom: 50px;
        text-align: left;
    }

    .mimg img{
        width: 290px;
    }
}